[Unit]
Description=Flask Application Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/oc_stamp_rally/app
Environment="PATH=/home/ubuntu/oc_stamp_rally/.asla_lite2/bin"
ExecStart=/home/ubuntu/oc_stamp_rally/.asla_lite2/bin/python run_prod.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
