{% extends "base.html" %}
{% block content %}
<h1>同意確認</h1>
<h2>研究へ参加していただくために</h2>
<h3>{{ user.account }}さん、スタートポイントのアンケート調査にご協力いただけますか？</h3>
    <section>
            <ul>
                <h3>参加条件について</h3><!--字を大きく、色を日向でも見える様に変更-->
                <p>以下の参加条件をご確認ください</p>
                <p>本研究の内容をご理解いただき同意いただけること
                <br>同意書の提出時点の年齢が18歳以上であること
                </p>
                <p>参加にあたり、以下の情報をご提出いただきます
                <br>・年齢
                </p>
                <h3>注意事項</h3><!--字を大きく、色を日向でも見える様に変更-->
                <p>体調面
                <br>自身でのペースでウォーキングをし、適宜に休憩をとってください
                </p>
                <p>データの取り扱いについて
                <br>アンケート調査の解答内容は、本研究の目的以外に用いることはなく守秘を約束します。
                </p>
            <ul>
    </section>


<form method="post">
    <button type="submit">同意する</button>
</form>
{% endblock %}
