{% extends "base.html" %}
{% block content %}
<h1>同意確認</h1>
<p>{{ user.account }}さん<br><br>大阪成蹊大学・大阪成蹊短期大学オープンキャンパス・スタンプラリー」にご来場いただき、ありがとうございます。</p>
<section>
    <ul>


        このスタンプラリーは、オープンキャンパスの各学部ブースにお立ち寄りいただいたり、ステージでのイベントを見ていただいた際に、ブース内やステージで表示されるQRコードをにアクセスしていただき、簡単なアンケートにお答えいただくことで、スタンプを獲得できるイベントです。<br>
        スタンプを集めると、素敵な記念品を差し上げます。お帰りのときに、受付にお越しください。<br>
        アンケートのご回答内容は、今後のオープンキャンパス運営に活用させていただきます。
        </p>
        
        <p>
            スタンプラリーご参加にあたり、簡単な参加者登録をしていただきます。<strong>「同意する」</strong>ボタンを押していただくと、参加者登録画面が表示されますので、すべての項目に回答をお願いします。<br>
            回答後に<strong>送信</strong>ボタンを押すと、メインメニュー画面が表示されます。<br>
            メインメニュー画面が表示されたら、スタンプラリーを開始できます。
        
        <br><br>アンケートにご回答されたら、<strong>スタンプラリーを開始</strong>できます。</p>
    <ul>
</section>


<form method="post">
<button type="submit">同意する</button>
</form>
{% endblock %}

