{% extends "base.html" %}
{% block content %}
<h1>同意確認</h1>
<p>{{ user.account }}さん<br><br>池田おでかけスタンプラリーにご参加いただき、ありがとうございます。</p>
<section>
    <ul>


        このスタンプラリーは、大阪成蹊大学経営学部海野研究室と池田市が共同で行っている、池田の地域プロモーションや観光振興をテーマとした研究活動の一環として開催しています。
        </p>
        <p>参加受付の際にお渡したにあたっては、「池田おでかけスタンプラリー参加のご案内」の内容にご同意いただける場合は、<strong>「同意する」</strong>ボタンをクリックしてください。</p>
        <p>アンケート調査の画面が表示されますので、<strong>アンケートにご回答</strong>ください。
        <br><br>アンケートにご回答されたら、<strong>スタンプラリーを開始</strong>できます。</p>
    <ul>
</section>


<form method="post">
<button type="submit">同意する</button>
</form>
{% endblock %}

