{% extends "base.html" %}
{% block content %}
<h1>同意確認</h1>
<p>{{ user.account }}さん<br><br>大阪成蹊大学・大阪成蹊短期大学オープンキャンパス・スタンプラリー」にご来場いただき、ありがとうございます。</p>
<section>
    <ul>


        このスタンプラリーは、せいけいデジタルサークルが行っている、大学祭周遊スタンプラリーイベントとなります。
        </p>
        <p>参加受付の際にお渡したにあたっては、の内容にご同意いただける場合は、<strong>「同意する」</strong>ボタンをクリックしてください。</p>
        <p>アンケート調査の画面が表示されますので、<strong>アンケートにご回答</strong>ください。
        <br><br>アンケートにご回答されたら、<strong>スタンプラリーを開始</strong>できます。</p>
    <ul>
</section>


<form method="post">
<button type="submit">同意する</button>
</form>
{% endblock %}

